@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
    touch-action: manipulation;
}
#bannerVideo {
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
body
{
    background: #000;
    /* height: 256px; */
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
    
}
html {
    height: -webkit-fill-available;
  }
[data-ca3_icon]::before {
    font-weight: normal;
    content: attr(data-ca3_icon);
    
}

.ca3-scroll-down-arrow {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
	background-size: contain;
	background-repeat: no-repeat;
}

.ca3-scroll-down-link {
  cursor:pointer;
	height: 30px;
	width: 30px;
	/* margin: 0px 0 0 -100px; */
	/* line-height: 60px; */
    margin-left: auto; 
    margin-right: auto; 
	position: absolute;
	right: 3vw;
	bottom: 10px;
	color: #FFF;
	text-align: center;
    justify-items: center;
	/* font-size: 70px; */
	z-index: 2;
	/* text-decoration: none; */
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

	-webkit-animation: ca3_fade_move_down 2s ease-in-out infinite ;
	-moz-animation:    ca3_fade_move_down 2s ease-in-out infinite ;
	animation:         ca3_fade_move_down 2s ease-in-out infinite ;
}


/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 0.25;  }
  100% { -webkit-transform:translate(0,10px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 0.25;  }
  100% { -moz-transform:translate(0,10px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 0.25;  }
  100% { transform:translate(0,10px); opacity: 0; }
}


  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #1a1919;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: .3s ease-in-out;
  }​
    input[type="range"]::-webkit-slider-thumb:hover {
      background-color: white;
      /* border: 2px solid #e74c3c; */
    }
    input[type="range"]::-webkit-slider-thumb:active {
      transform: scale(1.5);
    }
mark 
{
    background-color: white;
    color: black;
}

#traitList
{
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    
}

#traitlayer
{
    /* justify-content: center; */
       /* align-items: center; */
       /* text-align: center; */
    text-decoration: none;
       /* font-size: 1.953em; */
    font-size: 1.953em;
    /* align-items: center; */
    /* vertical-align:center; */
    /* text-align: justify; */
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
}

#hcgif
{
    width: 256px;
    height: 256px;
}

section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0px;
    padding-left: 10px;
    padding-right: 10px;
}


.section1
{
    margin: auto;
    text-align: justify;
    position: relative;
    align-items: center;
    vertical-align:middle;
    text-align: justify;
    min-height: 60vh;
    max-width: 90%;
}
.section2
{
    margin: auto;
    text-align: justify;
    position: relative;
    align-items: center;
    vertical-align:middle;
    text-align: justify;
    min-height: 60vh;
    max-width: 90%;
}
.section3
{
    margin: auto;
    text-align: justify;
    position: relative;
    align-items: center;
    vertical-align:middle;
    text-align: justify;
    min-height: 60vh;
    max-width: 90%;
}

.section4
{
    margin: auto;
    text-align: justify;
    position: relative;
    align-items: center;
    vertical-align:middle;
    text-align: justify;
    min-height: 60vh;
    max-width: 90%;
}
@media screen and (max-width:320px) 
{
    #traitlayer
    {
        font-size: 1.2em;
    }
    .controls {
        background: rgba(0, 0, 0, 0);
        position: absolute;
        bottom: 10vh;
        left: 20px;
        
        color: rgb(255, 255, 255);
        flex-flow: row-reverse; 
        align-items: center;
        z-index: 2;
        }
    input[type="range"] {
        /* display: block; */
        -webkit-appearance: none;
        background-color: #bdc3c7;
        width: 20vw;
        height: 0.5vh;
        border-radius: 5px;
        margin: 0 auto;
        outline: 0;
      }
    input[type="button"]
      {
          background-color: #ffffff; 
          position:absolute;
          left:0dp;
          width:100%;
          top:1vh;
          z-index: 1;
          border: 1px outset black;
          color: rgb(0, 0, 0);
          padding: 10px;
          align-items: center;
          justify-content: center;
          text-align: center;
          text-decoration: none;
          display: flex;
          font-size: 2.0em;
      }
    section h2
    {
        position: relative;
        color: #fff;
        font-size: 8vw;
    }
    section h3
    {
        position: relative;
        color: #fff;
        font-size: 8vw;
    }
    section h4
    {
        position: relative;
        color: #fff;
        font-size: 8vw;
    }
    section img
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    section h5
    {
        position: relative;
        color: #fff;
        font-size: 8vw;
    }
    section h5
    {
        position: relative;
        color: #fff;
        font-size: 8vw;
    }
    section p
    {
        text-align: justify;
        position: relative;
        color: #fff;
        font-size: 2vw;
    }
    

}
@media screen and (min-width: 321px) and (max-width: 480px) 
{
    .controls {
        background: rgba(0, 0, 0, 0);
        position: absolute;
        bottom: 17vh;
        left: 1vw;
        
        color: rgb(255, 255, 255);
        flex-flow: row-reverse; /* or 'row' and change the order of your html elements */
        align-items: center;
        z-index: 2;
        }
    input[type="range"] {
        /* display: block; */
        -webkit-appearance: none;
        background-color: #bdc3c7;
        width: 50vw;
        height: 0.5vh;
        border-radius: 5px;
        margin: 20px auto;
        outline: 0;
      }
    input[type="button"]
    {
        background-color: #ffffff; 
        position:absolute;
        left: 0px;;
        width:100%;
        top:1vh;
        z-index: 1;
        border: 1px outset black;
        color: rgb(0, 0, 0);
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        display: flex;
        font-size: 2.0em;
    }
    section h2
    {
        position: relative;
        color: #fff;
        font-size: 8vw;
    }
    section h3
    {
        position: relative;
        color: #fff;
        font-size: 8vw;
    }
    section h4
    {
        position: relative;
        color: #fff;
        font-size: 8vw;
    }
    section img
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    section img.roadmapImg
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    
    section h5
    {
        position: relative;
        color: #fff;
        font-size: 8vw;
    }
    section h5
    {
        position: relative;
        color: #fff;
        font-size: 8vw;
    }
    section p
    {
        text-align: justify;
        position: relative;
        color: #fff;
        font-size: 2vw;
    }
}
@media screen and (min-width: 481px) 
{
    .controls {
        background: rgba(0, 0, 0, 0);
        position: absolute;
        bottom: 2vh;
        left: 1vw;
        
        color: rgb(255, 255, 255);
        flex-flow: row-reverse; /* or 'row' and change the order of your html elements */
        align-items: center;
        z-index: 2;
        }
    input[type="range"] {
        /* display: block; */
        -webkit-appearance: none;
        background-color: #bdc3c7;
        width: 12vw;
        height: 0.5vh;
        border-radius: 5px;
        margin: 0 auto;
        outline: 0;
      }
    .refrBtn
    {
        background-color: #ffffff; 
        position:absolute;
        left:10px;
        top:10px;
        z-index: 1;
        border: 1px outset black;
        color: rgb(0, 0, 0);
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.2em;
    }

    .sndBtn
    {
        background-color: #ffffff; 
        position:absolute;
        right:10px;
        top:10px;
        z-index: 1;
        border: 1px outset black;
        color: rgb(0, 0, 0);
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 1.2em;
    }
    
    section h2
    {
        position: relative;
        color: #fff;
        font-size: 3em;
    }
    section h3
    {
        position: relative;
        color: #fff;
        font-size: 3em;
    }
    section h4
    {
        position: relative;
        color: #fff;
        font-size: 3em;
    }
    section img
    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    section h5
    {
        position: relative;
        color: #fff;
        font-size: 3em;
    }
    section h5
    {
        position: relative;
        color: #fff;
        font-size: 3em;
    }
    section p
    {
        text-align: justify;
        position: relative;
        color: #fff;
        font-size: 1.0em;
    }

}
